<div class="container">
  <h2 id="myinfo-title" class="text-center">My Info</h2>

<div ng-if="myinfoCtrl.isValidUser" class="menu-item-tile col-md-6">

  <div id="info">
      First Name: {{ myinfoCtrl.user.firstName}} <br>
      Last Name: {{ myinfoCtrl.user.lastName}} <br>
      Email: {{ myinfoCtrl.user.email}} <br>
      Phone: {{ myinfoCtrl.user.phone }} <br>
  </div>

  <br><br>

  <div class="row">

    My Favorite Menu Item:
    <br>

    <div class="col-sm-5">
      <div class="menu-item-photo">
        <div>{{myinfoCtrl.menuItem.short_name}}</div>
        <img class="img-responsive" width="250" height="150" ng-src="{{myinfoCtrl.basePath}}/images/{{myinfoCtrl.menuItem.short_name}}.jpg" alt="{{myinfoCtrl.menuItem.name}}">
      </div>
      <div class="menu-item-price">{{myinfoCtrl.menuItem.price_small | currency}}<span> {{myinfoCtrl.menuItem.small_portion_name}}</span> {{myinfoCtrl.menuItem.price_large | currency}} <span>{{myinfoCtrl.menuItem.large_portion_name}}</span></div>
    </div>
    <div class="menu-item-description col-sm-7">
      <h3 class="menu-item-title">{{myinfoCtrl.menuItem.name}}</h3>
      <p class="menu-item-details">{{myinfoCtrl.menuItem.description}}</p>
    </div>
  </div>
  <hr class="visible-xs">

</div>

<div ng-if="myinfoCtrl.notValidUser" class="error">
  You are not signed up! <br>
  Click <a ui-sref="public.signup"> Here </a> to sign up!
</div>

</div>
